fieldset {
  width: 300px;
}

fieldset legend {
  display: inline-block;
  width: 100px;
  margin-bottom: 10px;
}
fieldset input {
  display : inline-block;
  margin-bottom : 5px;
}

#resultat {
  font-style: oblique;
}